*{
  margin:0;
  padding: 0;
}
img {
  float:left;
  margin-right: 20px;
  /*margin-top: 50px;*/
}
h1{
  clear:left;
  font-family: tahoma;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2{
  padding-top: 20px;
}
h3{
  padding-top: 15px;
}
.titre {
  font-size: 0.7em;
/*display: block;*/
}
.angleterre {
  background-color: #D9D9D9;
  /*margin-top:50px;*/
  height: 300px;

  /*display: block;*/
}
.thailande {
  background-color: #C9C9C9 ;
  /*padding-top:1px;*/
  height: 300px;
  /*margin-top: :50px;*/
  /*display: block;*/
}
.france{
/*padding-top:1px;*/
background-color:#BDBDBD ;
height: 300px;
/*margin-top: :50px;*/
/*padding-top: 5px;*/
}
.singapour {
/*padding-top:1px;*/
/*margin-top: :50px;*/
background-color:#B2B2B2 ;
height: 300px;
/*display: block;*/
}
.dubai {
background-color:#ABABAB ;
height: 300px;
padding-bottom:-20px;
/*margin-top: :50px;*/
/*display: block;*/
}
.haut{
  margin-left: 50px;
  margin-top: 20px;
}
.bouton {
  text-align:center;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  /*margin-bottom: 15px;*/

}
p{
/*margin-left: 100px;*/
font-size: 15px;
margin-top: 10px;
margin-right: 20px;
margin-bottom: 20px;
}
.menu {
border: 2px solid #4169E1;
width: 55px;
display: inline-block;
border-radius: 5px;
text-align: center;
font-weight: bold;
}
.pays{
border: 2px solid #4169E1;
width: 55px;
display: inline-block;
border-radius: 5px;
text-align: center;
font-weight: bold;
}
.villes{
border: 2px solid #4169E1;
width: 55px;
display: inline-block;
border-radius: 5px;
text-align: center;
font-weight: bold;
}
.contact {
border: 2px solid #4169E1;
background-color: #4169E1
width: 70px;
display: inline-block;
border-radius: 5px;
text-align: center;
font-weight: bold;
}
.debut{
  border: 2px solid black;
  /*border-radius: 10px;*/
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50px;
  display: inline-block;
  text-align: center;
  background-color: #F7E8A8;
}
.un{
  border: 2px solid black;
  width: 50px;
  display: inline-block;
  text-align: center;
  background-color: #F7E8A8;
}
.deux{
  border: 2px solid black;
  width: 50px;
  display: inline-block;
  text-align: center;
  background-color: #F7E8A8;
}
.trois{
  border: 2px solid black;
  width: 50px;
  display: inline-block;
  background-color: #F7E8A8;
  text-align: center;
}
.quatre{
  border: 2px solid black;
  background-color: #F7E8A8;
  width: 50px;
  display: inline-block;
  text-align: center;
}
.cinq{
  border: 2px solid black;
  width: 50px;
  display: inline-block;
  text-align: center;
  background-color: #F7E8A8;
}
.fin{
  border: 2px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50px;
  background-color: #F7E8A8;
  display: inline-block;
  text-align: center;
  margin-right: 100px;
}
.lien {
border: 2px solid black;
background-color:#F7E8A8;
width: 80px;
display: inline-block;
border-radius: 5px;
text-align: center;
}
.paragraphe{
  padding: 10px;
}
